#frame-router-tabs .ivu-tabs-bar {
    margin-bottom: 0;
    color:#333;
    border-bottom: 1px solid #ececec;
    border-top: none;
    background-color: #fff;
}
.demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
    border-radius: 0;
    background: #fff;
  }
  .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active{
    border-top: 1px solid #3399ff;
  }
  .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #3399ff;
    position: absolute;
    top: 0;
    left: 0;
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab:not(:last-child){
    margin-right: 0;
    border-right-width: 0;
  }
  #frame-router-tabs .ivu-tabs-nav-right{
    line-height: 46px;
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container{
    height: 46px; 
  }

  #frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-focused:not(:first-child) {
    border-top: 1px solid #2768ac !important;
    border-left: 1px solid #ececec !important;
    border-right:none;
    border-bottom: none;
  }

  #frame-router-tabs .ivu-tabs-nav>.ivu-tabs-tab:nth-child(2){
    border-left:none !important; 
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-focused:nth-child(2){
    border-left: none !important;
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-focused:first-child{
    border-left:none;
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab:first-child{
    border-left: none;
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-focused:last-child{
    border-right: 1px solid #ececec !important;
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-focused:first-child{
    border-left: none !important;
  }
  #frame-router-tabs .ivu-tabs-nav .ivu-tabs-tab{
      color:#333;
      font-weight: bolder;
      font-size: 14px;
      font-family: 'Microsoft YaHei !important';
  }
  .demo-tabs-style2 > .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
      height: 46px;
      line-height: 46px;
      border-radius: 0;
      background: #fff;
      border:1px solid #ececec;
  }
  #frame-router-tabs .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
    // padding: 10px 15px 12px;
    padding:0px 15px;
  }
  .demo-tabs-style2
> .ivu-tabs.ivu-tabs-card
> .ivu-tabs-bar
.ivu-tabs-tab-active:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #2768ac;
  position: absolute;
  top: 0;
  left: 0;
}
#frame-router-tabs .ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab{
  transition: none;
  border-bottom: 1px solid #ececec;
  min-width: 88px;
  text-align: center;
}
#frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab:hover{
  color: #2768ac;
}
#frame-router-tabs .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
  color: #2768ac !important;
}
#frame-router-tabs .ivu-tabs-nav .ivu-tabs-tab:hover{
  color: #2768ac !important;
}