.main{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    .sidebar-menu-con{
        position: fixed;
        top: 50px;
        bottom:0;
        left: 0;
        z-index: 21;
        transition: width .3s;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .single-page-con{
        min-height: 933px;
        margin-top:50px;
        min-width:1200px;
        overflow:hidden;
        height:auto;
        background-color: #f8f8f8;
        margin-bottom:0;
        position:relative;
        padding:16px 24px 35px 24px;
        margin-left:220px;
        .single-page{

        }
    }
    .user-login-logout{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        overflow:hidden;
        z-index:999;
    }
    
}





