#footer-bar {
    background: #fff;
    bottom: 0;
    font-size: 12px;
    height: 36px;
    left:0;
    line-height: 36px;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    width: 100%;
    opacity: 1;
    box-sizing: border-box;
    z-index: 10;
    #footer-copyright {
        text-align: center;
        margin: 0;
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
    }
}