.my-add-content{
    background: #f8f8f8;
    .add-search{
        box-shadow: 0px 4px 4px 0 #ececec;
        background: #ffffff;
    }
	.list-box{
		position: relative;
	}
    .add-list{
        box-shadow: 0px 4px 4px 0 #ececec;
        background: #ffffff;
    }
    .list-tip{
		font-size: 14px;
		line-height: 30px;
		color:#333333;
		vertical-align: bottom;
		padding-left: 16px;
		span{
			font-size: 16px;
			color: #1f6cdd;
			font-weight: bold;
		}
	}
	.ivu-tabs-bar{
		margin-bottom: 0
	}
	.margin-top-16{
		margin-top: @space-16;
	}
}