.menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    .menu-content-left {
        width: 220px;
        height: 100%;
        background-color: #3c4454;
        .menu-group-title {
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.2;
            margin-left: 15px;
            margin-top: 36px;
            padding-bottom: 20px;
            span {
                margin-right: 11px;
                display: inline-block;
                position: relative;
                height: 16px;
                width: 4px;
                background-color: #28b294;
                border: 1px solid #28b294;
                border-radius: 3px;
                top: 1px;
            }
        }
        //去除标题多出来的一点
        .menu-group-list.ivu-menu-vertical.ivu-menu-light{
            &:after {
                width: 0;
            }
        }
        //收缩后取消iview自带的箭头
        .show{
            .ivu-menu-submenu-title-icon{
                display: none;
            }
        }
        .menu-group-list{
            background-color: #3c4454;
            color: rgba(229, 239, 255, 0.5);
            .ivu-icon{
                position: absolute;
                right: 16px;
            }
            span{
                margin-left: 5px;
            }
            .ivu-menu-item{
                height: 44px;
                color: rgba(229, 239, 255, 0.5);
                font-size: 14px;
                line-height: 1.2;
                &:hover{
                    background: #253041;
                    i,span{
                        color: #50A6FF;
                    }
                }
            }
            .ivu-menu-item-selected{
                background: #253041;
                color: #50A6FF;

            }
            // 一级下拉菜单选中时的样式
            .ivu-menu-opened{
                background: #253041;
                i,span{
                    color: #fff;
                }
                .ivu-menu-submenu-title{
                    i,span{
                        color: #fff;
                    }
                }
                .ivu-menu-item-selected{
                    i,span{
                        color: #50A6FF;
                    }
                }
            }
            //一级下拉菜单
            .ivu-menu-submenu{
                .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
                    background: none;
                    color: #50A6FF;
                }
                .ivu-menu-submenu-title{
                    font-size: 0;
                    height: 44px;
                    i,span{
                        font-size: 14px;
                        line-height: 16px;
                        color: rgba(229, 239, 255, 0.5);

                    }
                    &:hover{
                        background: #253041;
                        i,span{
                            color: #50A6FF;
                        }
                    }
                }
                //二级菜单
                .second-menu{
                    .ivu-menu-item{
                        font-size: 0;
                        i,span{
                            font-size: 14px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }

        //     // 将iview自带的箭头隐藏
        //     // .ivu-menu-submenu-title-icon{
        //     //     display: none;
        //     // }
        //     // .ivu-menu-opened{
        //     //     .ivu-icon{
        //     //         transform: rotate(180deg);
        //     //         transition: transform 100ms;
        //     //     }
        //     // }
        // }

        // .menu-group-list {
        //     background-color: rgba(36,47,63,0.7);
        //     .active{
        //         opacity: 1;
        //         // color: #121926;
        //     }
        //     .second-menu{
        //         padding-left: 28px;
        //         .ivu-menu-submenu-title{
        //             padding-left: 0;
        //         }
        //         .ivu-icon{
        //             transform: rotate(100deg);
        //         }
        //     }
        //     .label-danger{
        //         background-color: #f64942;
        //         width: 20px;
        //         height: 20px;
        //         border-radius: 100%;
        //         text-align: center;
        //         line-height: 20px;
        //     }
        //     .ivu-menu{
        //         .second-menu{
        //             .ivu-menu-submenu-title {
        //                 padding-left: 20px;
        //             }
        //         }
        //     }
        //     .ivu-menu-submenu-title {
        //         height: 44px;
        //         position: relative;
        //         padding-left: 43px;
        //         padding-right: 16px;
        //         background-color: #3c4454;
        //         overflow: visible;
        //         font-size: 0;
        //         &:hover {
        //             color: #fff;
        //             i,.first-menu{
        //                 color: #50A6FF;
        //             }
        //         }
        //         i {
        //             color: rgba(229, 239, 255, 0.5);
        //             position: absolute;
        //             top: 17px;
        //             font-size: 13px;
        //             width: 16px;
        //             height: 16px;
        //             display: inline-block;
        //             box-sizing: content-box;
        //             z-index: -1;
                   
        //             &.sceond-icon {
        //                 padding-right: 18px;
        //             }
        //             &.icon-fa {
        //                 left: 30px;
        //                 &.close-fa {
        //                     left: 50%;
        //                     transform: translateX(-50%);
        //                     top: 0px;
        //                     // &:hover {
        //                     //     color: #2D8cF0;
        //                     //     opacity: 1;
        //                     // }
        //                 }
        //             }
        //         }
        //         span {
        //             color: rgba(229, 239, 255, 0.5);
        //             margin-left: 12px;
        //             font-size: 14px;
        //         }
        //         .ivu-menu-submenu-title-icon {
        //             text-align: center;
        //             line-height: 16px;
        //             top: 14px;
        //             transform: rotate(0deg);
        //         }
        //         &:hover {
        //             background-color: rgba(36,47,63,0.7);
        //             color: #2D8cF0;
        //         }
        //          .ivu-tooltip-rel {
        //             width: 64px;
        //             height: 10px;
        //         }
        //     }
        //     .ivu-menu-item {
        //         background-color: #121926;
        //         &:hover {
        //             i{
        //                 color: #50A6FF;
        //             }
        //             span{
        //                 color: #50A6FF;

        //             }
        //         }
        //         a {
        //             display: block;
        //             color: #fff;
        //             margin-left: 13px;
        //             &:hover {
        //                 color: #FFF;
        //             }
        //         }
        //         i {
        //             width: 12px;
        //             font-size: 12px;
        //             display: inline-block;
        //             box-sizing: content-box;
        //             margin:0 13px;
        //             position: relative;
        //             top: -3px;
        //             color: rgba(229, 239, 255, 0.5);
        //             &.sceond-icon {
        //                 padding-left: 16px;
        //             }
        //         }
        //         span {
        //             position: relative;
        //             top: -3px;
        //             left: -3px;
        //             color: rgba(229, 239, 255, 0.5);
        //         }
        //         background-color: rgba(36,47,63,0.7);
        //         height: 44px;
        //         &.third-menu {
        //             padding-left: 67px;
        //             i {
        //                 width: 12px;
        //                 font-size: 12px;
        //                 display: inline-block;
        //                 box-sizing: content-box;
        //                 margin: 0 13px;
        //                 position: relative;
        //                 top: -3px;
        //                 color: #fff;
        //                 opacity: 0.7;
        //             }
        //             span {
        //                 position: relative;
        //                 top: -3px;
        //                 left: -3px;
        //                 color: #fff;
        //                 opacity: 0.7;
        //             }
        //             &:hover {
        //                 i {
        //                     opacity: 1;
        //                 }
        //                 span {
        //                     opacity: 1;
        //                 }
        //             }
        //             &.ivu-menu-item-selected {
        //                 i {
        //                     opacity: 1;
        //                     color: #50A6FF;
        //                 }
        //                 span {
        //                     opacity: 1;
        //                     color: #50A6FF;
        //                 }
        //             }
        //         }
        //     }
        //     .ivu-menu-submenu {
        //         background-color: rgba(36,47,63,0.7);
        //         &.ivu-menu-opened {
        //             &.ivu-menu-opened{
        //                 &.ivu-menu-submenu-title-icon {
        //                     opacity: 0;
        //                     transform: rotate(0deg);
        //                     &.show-icon {
        //                         opacity: 1;     
        //                         transform: rotate(180deg);
        //                     }
        //                 }
        //             }
        //             .ivu-menu-item{
        //                 i,span{
        //                     color: #fff;
        //                 }
        //                 &:hover{
        //                     i,span{
        //                         color: #50A6FF;
        //                     }
        //                 }
        //             }
        //             .ivu-menu-submenu-title {
        //                 height: 44px;
        //                 background-color: rgba(36,47,63,0.7);
        //                 i {
        //                     // opacity: 0;
        //                     color: #fff;
        //                     &.ivu-menu-submenu-title-icon {
        //                         opacity: 0;
        //                         transform: rotate(0deg);
        //                         &.show-icon {
        //                             opacity: 1;     
        //                             transform: rotate(180deg);
        //                         }
        //                     }
        //                 }
        //                 span {
        //                     color: #fff;
        //                 }
        //                 &:hover {
        //                     .icon-fa {
        //                         opacity: 1;
        //                         color: #50A6FF;
        //                     }
        //                     .first-menu {
        //                         opacity: 1;
        //                         color: #50A6FF;        
        //                     }
        //                     .ivu-menu-submenu-title-icon {
        //                         opacity: 0;
        //                         // transform: rotate(0deg);
        //                         &.show-icon {
        //                             opacity: 1;
        //                             color: #50A6FF;
        //                             // transform: rotate(180deg);
        //                         }
        //                     }
        //                     // .ivu-menu-submenu-title-icon {
        //                     //     opacity: 1;
        //                     // }
        //                 }
        //                 &.ivu-menu-opend{
        //                     &.ivu-menu-submenu-title-icon {
        //                         opacity: 0;
        //                         transform: rotate(0deg);
        //                         &.show-icon {
        //                             opacity: 0.7;     
        //                             transform: rotate(0deg);
        //                         }
        //                     }
        //                 }
        //             }
        //             .ivu-menu-item-selected {
        //                 // background-color: #1F6CDD;
        //                 i {
        //                     color: #50A6FF;
        //                 }
        //                 span {
        //                     color: #50A6FF;
        //                 }
        //             }
        //             // .ivu-menu-child-item-active {
        //             //     .ivu-menu-submenu-title-icon{
        //             //         transform: rotate(180deg);
        //             //     }
        //             // }

        //         }
        //         .ivu-menu-submenu-title-icon {
        //             opacity: 0;
        //             transform: rotate(0deg);
        //             &.show-icon {
        //                 opacity: 0.7;
        //             }
        //         }
                
        //         &.second-wrapper {
        //             .ivu-menu-submenu-title {
        //                 height: 44px;
        //                 &:hover {
        //                     .third-wrapper {
        //                         opacity: 1;
        //                     }
        //                 }
        //             }
        //             .ivu-menu-submenu-title-icon {
        //                 transform: rotate(-90deg);
        //             }
        //             &.ivu-menu-opened{
        //                 .ivu-menu-submenu-title-icon {
        //                     transform: rotate(0deg);
        //                 }
        //             }
        //         }
        //     }

        //     .ivu-tooltip-popper {
        //         margin-left: -1px;
        //         top: 7px !important;
        //     }
        //     &.show {
        //             .ivu-menu-submenu-title {
        //             padding-left: 0;
        //             padding-right: 0;
        //             i{
        //                 &.ivu-icon-ios-arrow-down {
        //                     opacity: 0;
        //                 }
        //             }
        //         } 
        //     }
        //     .third-wrapper {
        //         height: 44px;
        //         font-size: 12px;
        //         display: inline-block;
        //         -webkit-box-sizing: content-box;
        //         box-sizing: content-box;
        //         margin: 0 13px;
        //         position: relative;
        //         top: -3px;
        //         color: #fff;
        //         opacity: 0.7;
        //         i {
        //             height: 12px;
        //             width: 12px;
        //             font-size: 12px;
        //             display: inline-block;
        //             -webkit-box-sizing: content-box;
        //             box-sizing: content-box;
        //             position: relative;
        //             top: 0px;
        //             color: #fff;
        //             margin-left: 0;
        //             margin-right: 11px;
        //         }
        //         .first-menu {
        //             font-size: 14px;
        //             margin-left: 0;
        //         }
        //     }
        // }
        .ivu-dropdown {
            width: 100%;
            height: 100%;
            .ivu-dropdown-rel {
                width: 100%;
                height: 100%;
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    position: relative;
                    z-index: 10;
                    i {
                        position: static;
                        margin-left: -4px;
                    }
                }
            }
            .ivu-select-dropdown {
                width: auto;
                left: 64px;
            }
            &.no-hover {
                .ivu-tooltip-popper {
                    display: none;
                }
            }
            
        }
        .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after{
            display: none;
        }

    }
}