.ivu-modal {
    .ivu-modal-body {
        padding: 32px 32px 24px;
        .ivu-modal-confirm-head-title {
            font-size: 16px;
            color: #333;
            margin-left: 8px;
            line-height: 24px;
        }
        .ivu-modal-confirm-head-icon {
            top: -3px;
            font-size: 20px;
            line-height: 24px ;
            .ivu-icon-ios-help-circle{
                font-size: 20px;
            }
        }
        .ivu-modal-confirm-body {
            padding-left: 0;
            p {
                font-size: 14px;
                color: #666;
                line-height: 21px;
                margin-top: 8px;
            }
        }
        .ivu-modal-confirm-footer {
            margin-top: 24px;
            .ivu-btn {
                width: 64px;
                text-align: center;
                &.ivu-btn-text {
                   border-color: #d9d9d9;
                    &:hover {
                        border-color: #468eeb;
                        color: #468eeb;
                    }
                    &:active {
                        border-color: #114eb8;
                        color: #114eb8;
                    }
                }
                &.ivu-btn-primary {
                    background-color: #1f6cdd;
                    &:hover {
                        background-color: #468eeb;
                    }
                    &:active {
                        background-color: #114eb8;
                    }
                }
            }
        }
    }
}