.add-index{
    .ivu-tabs-nav .ivu-tabs-tab{
        margin-right: 0;
        padding: 0 16px;
    }
    .right-padding{
        padding-right: 16px;
    }
    .add-form{
        width: 50%;
        font-size: 0;
        .item-box{
            width: 50%;
            // display: inline-block;
        }
        .textarea-input{
            min-height: 45px;
        }
        .level-item{
            border: solid 1px #d9d9d9;
            border-radius: 4px;
            margin-bottom: 24px;
            overflow: hidden;
            .level-title{
                font-size: 14px;
                color: #333333;
                background: #f8f8f8;
                line-height: 32px;
                padding:0 16px;
                font-weight: bold;
            }
            .level-item-content{
                padding: 24px 16px;
                .ivu-radio-group-item{
                    display: block;
                }
                .litle-item{
                    width: 30%;
                    display: inline-block;
                    margin-right: 48px;
                }
                .textarea-text{
                    color: #999999;
                    font-size: 14px;
                    line-height: 18px;
                }
                .no-bottom{
                    margin-bottom: 0;
                }
            }

        }
        .about-item{
            .about-item-content{
                padding: 24px 16px;
                .about-row{
                    display: flex;
                    align-items: center;
                    margin-bottom: 24px;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    .about-button{
                        margin-right: 16px;
                    }
                }
            }
        }
        .stay-item{
            .stay-item-content{
                padding: 24px 16px;
                .stay-row{
                    margin-bottom: 16px;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                    p{
                        font-size: 14px;

                    }
                }
            }
        }
        .remark-item{
            margin-bottom: 24px;
            p{
                font-size: 14px;
            }
        }
    }

}