.my-add-list{
    padding: 16px;
    .on-btn{
        cursor: pointer;
        color: #1f6cdd;
        &:hover{
            color: #1f6cdd;
        }
        &:active{
            color: #114eb8;
        }
    }
    .name-link{
        cursor: pointer;
        color: #1f6cdd;
        &:hover{
            color: #1f6cdd;
        }
        &:active{
            color: #114eb8;
        }
    }
}