.my-add-list{
    padding: 16px;
    .btn-box{
        font-size: 0;
    }
    .on-btn{
        cursor: pointer;
        color: #1f6cdd;
        display: inline-block;
        font-size: 14px;
        vertical-align: middle;
        // line-height: 20px;
        &:hover{
            color: #468eeb;
        }
        &:active{
            color: #114eb8;
        }
    }
    .name-link{
        cursor: pointer;
        color: #1f6cdd;
        &:hover{
            color: #468eeb;
        }
        &:active{
            color: #114eb8;
        }
    }
    .list-bottom{
        width: 100%;
        display: flex;
        padding-left: 16px;
        justify-content: space-between;
        align-items: flex-end;
        .bottom-left{
            font-size: 0;
        }
    }
    .time-pointer{
        color: #333;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            color: #468eeb;
        }
        &:active{
            color: #114eb8;
        }
    }
}